<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:include="/admin/adminHead :: head"></head>
<body>
<nav th:include="/admin/adminHeader-menu :: header-menu (current = ${'categories'})"
     class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"></nav>

<div class="container-fluid bg-light">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Категории</h1>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th><span>Category ID</span></th>
                    <th><span>Category Name</span></th>
                </tr>
                </thead>
                <tbody>

                <!--/*@thymesVar id="categories" type="ru.parfenov.project."*/-->
                <tr th:each="category : ${categories}">
                    <td><span th:text="${category.getCategoryID()}"></span></td>
                    <td>
                        <a th:href="@{${'/admin/category/' + category.getCategoryID()}}">
                            <span th:text="${category.getName()}"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--Pagination end-->
        </div>


    </div>
</div>


<footer th:insert="/admin/adminFooter :: footer" class="container py-5"></footer>
<div th:include="/admin/adminFooter :: scripts"></div>

</body>
</html>
