<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:include="/admin/adminHead :: head"></head>
<body>
<nav th:include="/admin/adminHeader-menu :: header-menu(current = ${'products'})"
     class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"></nav>

<div class="container-fluid">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Товары</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Название</span></th>
                    <th><span>Цена</span></th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="products" type="java.util.List"*/-->
                <!--/*@thymesVar id="product" type="ru.parfenov.project.service.handlers.entity.Product"*/-->
                <tr th:each="product : ${products}">
                    <td><span th:text="${product.getProductID()}"></span></td>
                    <td>
                        <a th:href="@{${'/admin/product/' + product.getProductID()}}">
                            <span th:text="${product.getName()}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${product.getPrice()}"> P</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>

    </div>
</div>


<footer th:insert="/admin/adminFooter :: footer" class="container py-5"></footer>
<div th:include="/admin/adminFooter :: scripts"></div>

</body>
</html>
