<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:include="/admin/adminHead :: head"></head>
<body>
<nav th:include="/admin/adminHeader-menu :: header-menu (current = ${'categories'})"
     class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"></nav>

<!--/*@thymesVar id="category" type="ru.parfenov.project.service.handlers.entity.Category"*/-->
<div class="container-fluid">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal" th:text="${category.getName()}">Тут когда-то что-то будет</h1>
        </div>

        <form name="updateForm" id="updateForm" th:object="${category}"
              th:action="@{${'/admin/category/' + category.getCategoryID()}}" method="post" role="form">
            <legend>Form Title</legend>

            <div class="form-group">

                <label>ID</label>
                <input>
                <label for="name"></label>
                <input type="text" class="form-control" th:value="*{getName()}" name="name" placeholder="Input...">

                <label for="name"></label>
                <input type="text" class="form-control" th:value="*{getCategoryURL()}" name="categoryURL"
                       placeholder="Input...">

                <label for="description"></label>
                <textarea type="text" class="form-control" th:value="*{getDescription()}" name="Описание"
                          placeholder="Input...">
                </textarea>

                <!--                <input type="radio" class="form-control" id="active" value="isActive" name="isActive" th:field="*{getIsActive()}">-->
                <!--                <label th:for="${#ids.prev('getIsActive()')}">Активна</label>-->

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
<script>
    (function ($) {
        $(".btn .btn-primary").on('submit', function (e) {
            e.preventDefault();
            var str = $("#updateForm").serialize();
            var $form = $('#updateForm');
            $.ajax({
                type: "post",
                data: str,
                url: $form.attr('action'),
                async: false,
                dataType: "json",
                success: function (responce) {
                    alert("success");
                }
            });

        })
    }(jQuery));
</script>

<footer th:insert="/admin/adminFooter :: footer" class="container py-5"></footer>
<div th:include="/admin/adminFooter :: scripts"></div>

</body>
</html>
