<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:include="head :: head"></head>
<body>
<nav th:include="header-menu :: header-menu" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"></nav>

<div class="container-fluid">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Поиск</h1>
            <p class="lead font-weight-normal">Результаты поиска по <!--/*@thymesVar id="search" type="java"*/-->
                <span th:text="${search}"></span></p>

            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <!--/*@thymesVar id="product" type="ru.parfenov.project.service.handlers.entity.Product"*/-->
            <div th:each="product, iterStat : ${products}" class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
                 style="float: left;">
                <div th:replace="product :: product-dark(name = ${product.getName()}, price = ${product.getPrice()},
            img = ${product.getImages().get(0).getPath()})  "></div>
            </div>
        </div>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>

    </div>
</div>


<footer th:insert="footer :: footer" class="container py-5"></footer>
<div th:include="footer :: scripts"></div>

</body>
</html>
